---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- <slot /> -->
		<header>
			<div class="container">
				<div class="flex-menu">
					<img
						src="https://store.akamai.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016"
						alt=""
					/>

					<menu>
						<li><a href="#">Tienda</a></li>
						<li><a href="#">Comunidad</a></li>
						<li><a href="#">Acerca de</a></li>
						<li><a href="#">Soporte</a></li>
					</menu>
				</div>

				<div class="menu-right">
					<a href="#" class="btn-download">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="size-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m-6 3.75 3 3m0 0 3-3m-3 3V1.5m6 9h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75"
							></path>
						</svg>

						inatalar menu
					</a>
					<a href="#">iniciar sesion</a>
					<a href="#">idioma</a>
				</div>
			</div>
		</header>
		<div class="banner"></div>
		<div class="banner2 container">
			<div class="left-menu"></div>
		</div>
		<div class="banner3"></div>
	</body>
</html>

<style>
	html,
	body {
		padding: 0;
		margin: 0;
	}
	header {
		height: 80px;
		background: #171a21;
	}
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
	.flex-menu a {
		color: rgb(184, 182, 179);
		font-weight: 600;
		text-decoration: none;
	}
	.flex-menu a:hover {
		color: #fff;
	}
	.flex-menu img {
		width: 160px;
	}
	.flex-menu li {
		margin-left: 10px;
		list-style: none;
		display: inline-block;
	}
	.flex-menu {
		display: flex;
		height: 80px;
		width: 60%;
		/* float = para permitir q un elemento este en el lado */
		float: left;
		align-items: center;
		color: white;
		font-family: sans-serif;
		text-transform: uppercase;
	}
	.menu-right {
		float: left;
		margin-top: 8px;
		width: 40%;
		color: #fff;
		font-family: sans-serif;
	}
	.menu-right a {
		margin: 0 8px;
		color: #fff;
		text-decoration: none;
	}
	.menu-right a:hover {
		background: #171a21;
	}
	.btn-download {
		color: #fff;
		background-color: #789806;
		display: inline-block;
		padding: 6px 12px;
		font-family: sans-serif;
		text-decoration: none;
		display: inline-flex;
		gap: 8px;
		align-items: center;
	}
	.btn-download svg {
		width: 18px;
	}
	.btn-download a:hover {
		background-color: #90a251;
	}

	.banner {
		background: orange;
		height: 360px;
	}
	.banner2 {
		background: purple;
		height: 240px;
	}
	.left-menu {
		background: pink;
		width: 180px;
		height: 360px;
		position: absolute;
		z-index: 10;
		top: 0;
		left: -180px;
	}

	.banner3 {
		background: turquoise;
		height: 1200px;
	}
</style>
